@font-face {
    font-family: Roboto-regular;
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-bold;
    src: url("../font/Roboto-Bold.ttf");
}

body {
    line-height: 1;
    font-family: Roboto-regular;
    font-size: 14px;
}

label {
    font-family: Roboto-bold;
}

.nav {
    display: block;
    line-height: 1;
    padding: 15px 30px;
    background-color: #87c5c5;
    border-bottom: 1px solid #000;
}

a {
    color: #000;
    text-decoration: none;
}

.nav h1 {
    font-size: 24px;
}

.card-title {
    font-size: 18px;
}

.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.aside {
    float: left;
    width: 20%;
    height: 100vh;
}

.content {
    float: right;
    width: 80%;
    padding: 50px;
}

.menu li {
    display: block;
    list-style: none;
    padding: 15px 50px;
}

.menu li i {
    display: inline-block;
    width: 25%;
    text-align: right;
}

.menu li span{
    padding-left: 30px;
}

a.nav-active {
    background-color: #b3dbdb;
    color: #464646;
}

a.nav-active:hover {
    background-color: #b3dbdb;
    color: #464646;
}

.menu a {
    display: block;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 1px solid #696969;
}

.menu a:hover {
    background-color: #989898
        /*  */
    ;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.add-btn {
    background-color: #52B8F2;
}

.edit-btn {
    background-color: #006400;
}

.delete-btn {
    background-color: #8B0000;
}

.right {
    float: right;
}

.search-form {
    display: inline-block;
}

.search-form input {
    padding-top: 3px;
    padding-left: 10px;
    border: 1px solid #696969;
    border-radius: 10px;
}

button {
    border: 0;
}

.header {
    margin-bottom: 30px;
    ;
}

.card {
    width: 80%;
    margin: auto;
    padding: 20px 50px;
    background-color: #EAF4F4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
}

.card-title {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #989898;
    background-color: #EAF4F4;
    font-size: 24px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card input[type=text],
.card input[type=password],
.card select,
.card textarea {
    width: 100%;
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 10px;
    border: 1px solid #686868;
    border-radius: 5px;
}

.card input[type=radio],
.card input[type=file] {
    margin-top: 5px;
}

.card input[type=radio] {
    margin-right: 5px;
}

.card .btn {
    margin-top: 20px;
}

.card-footer {
    text-align: center;
}

.card-footer .btn {
    margin: 20px 30px;
}

.input-group {
    margin-top: 20px;
}

textarea {
    resize: none;
}

.error {
    color: #ff0000;
}

.list img {
    width: 100px;
    height: 100px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 10px;
    border: 1px solid #dbdbdb;
    text-align: center;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #d6e4f0;
}


/*.list {
    margin-top: 50px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.list td {
    vertical-align: middle;
    padding: 20px 0px;
}

.list thead tr {
    border-bottom: 1px solid #000;
}

.list tbody tr {
    border-bottom: 1px solid #595959;
}*/

.alert {
    margin-bottom: 30px;
    padding: 20px 50px;
    background-color: #52f2b5;
    border-radius: 5px;
}

.error-alert {
    background-color: #f8c296;
}

.alert span {
    display: inline-block;
    padding: 5px;
}

.alert i {
    float: right;
    line-height: 1;
    font-size: 24px;
}

.td-col1 {
    width: 30%;
    padding: 20px;
    font-family: Roboto-bold;
    border-collapse: collapse;
}

.td-col2 {
    width: 70%;
    padding: 20px;
}

.pizza-detail {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.pizza-detail tr {
    border-bottom: 1px solid #595959;
}

.detail-img {
    width: 70%;
    height: 300px;
    margin: 10px auto;
}

.detail-img img {
    width: 100%;
}

/*-------------------start admin profile-------------*/
.link {
    color: #0000ff;
    text-decoration: underline;
}

/*-------------------end admin profile-------------*/

/*-----------------start user crud----------*/
.user-title {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #52B8F2;
    vertical-align: middle;
}

.user-title h2 {
    display: inline-block;
    line-height: 25px;
    font-size: 20px;
}

.user-btn {
    background-color: #595959;
}

.search-btn {
    background-color: #045e5e;
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #048f8c;
    background-color: #87c5c5;
}

.pagination .active {
    border: 1px solid #6c5ce7;
    background-color: #a29bfe;
}

/*-----------------end user crud----------*/

.center {
    text-align: center;
}

input[type=file]::file-selector-button {
    padding: .2em .4em;
    border: 2px solid #00cec9;
    background-color: #81ecec;
    transition: 1s;
    border-radius: .2em;
}

input[type=file]::file-selector-button:hover {
    border: 2px solid #6c5ce7;
    background-color: #a29bfe;
}
