@font-face {
    font-family: Roboto-regular;
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-bold;
    src: url("../font/Roboto-Bold.ttf");
}


body {
    line-height: 1;
    font-family: Roboto-regular;
    font-size: 14px;
}

label {
    font-family: Roboto-bold;
}

.nav {
    display: block;
    width: 100%;
    line-height: 1;
    padding: 20px 30px;
    background-color: #87c5c5;
    border-bottom: 1px solid #000;
}

a {
    color: #000;
    text-decoration: none;
}

.nav h1 {
    font-size: 24px;
}

.card-title {
    font-size: 18px;
}

.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.aside {
    position: sticky;
    top: 0;
    float: left;
    width: 20%;
}

.content {
    float: right;
    width: 80%;
    padding: 50px;
}

.menu li {
    display: block;
    list-style: none;
    padding: 15px 50px;
}

.menu li i {
    display: inline-block;
    width: 25%;
    text-align: right;
}

.menu li span {
    padding-left: 30px;
}

a.nav-active {
    background-color: #b3dbdb;
    color: #464646;
}

.menu .nav-active:hover {
    background-color: #b3dbdb;
    color: #464646;
}

.menu a {
    display: block;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 1px solid #696969;
}

.menu a:hover {
    background-color: #989898
        /*  */
    ;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.add-btn {
    background-color: #52B8F2;
}

.add-btn:hover {
    background-color: #199ce7;
}

.edit-btn {
    background-color: #006400;
}

.edit-btn:hover {
    background-color: #0aa00a;
}

.delete-btn {
    background-color: #8B0000;
}

.delete-btn:hover {
    background-color: #b30606;
}

.right {
    float: right;
}

.search-form {
    display: inline-block;
}

.search-form input {
    padding: 5px 10px;
    border: 1px solid #696969;
    border-radius: 10px;
}

button {
    border: 0;
}

.header {
    margin-bottom: 30px;
    ;
}

.card {
    width: 700px;
    margin: auto;
    padding: 20px 50px;
    background-color: #EAF4F4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #989898;
    border-right: 1px solid #989898;
    border-bottom: 1px solid #989898;
}

.card-title {
    width: 700px;
    margin: auto;
    padding: 20px;
    border: 1px solid #989898;
    background-color: #EAF4F4;
    font-size: 24px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.card input[type=text],
.card input[type=email],
.card input[type=password],
.card select,
select,
.card textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #686868;
    border-radius: 5px;
}

.card input[type=radio],
.card input[type=file] {
    margin-top: 5px;
}

.card input[type=radio] {
    margin-right: 5px;
}

.card .btn {
    margin-top: 20px;
}

.card-footer {
    text-align: center;
}

.card-footer .btn {
    margin: 20px 30px;
}

.input-group {
    margin-top: 20px;
}

textarea {
    resize: none;
}

.error {
    color: #ff0000;
}

.list img {
    width: 130px;
    height: 100px;
}


table {
    width: 100%;
    border-collapse: collapse;
}

.list tr:hover {
    background-color: #e4e7e6;
}

.list td,
.list th,
th {
    padding: 10px;
    border: 1px solid #a6a6a6;
    text-align: center;
    vertical-align: middle;
}

.list th {
    padding: 20px 10px;
    background-color: #d0eee9;
}

.alert {
    margin-bottom: 30px;
    padding: 20px 50px;
    background-color: #52f2b5;
    border-radius: 5px;
}

.error-alert {
    background-color: #f8c296;
}

.alert span {
    display: inline-block;
    padding: 5px;
}

.alert i {
    float: right;
    line-height: 1;
    font-size: 24px;
}

.td-col1 {
    width: 30%;
    padding: 20px;
    font-family: Roboto-bold;
    border-collapse: collapse;
}

.td-col2 {
    width: 70%;
    padding: 20px;
}

.pizza-detail {
    width: 80%;
    margin: 30px auto;
}

.pizza-detail td,
.pizza-detail th {
    border: 1px solid #969696;
    text-align: center;
    vertical-align: middle;
}

.pizza-detail th {
    background-color: #e6ebeb;
}

.detail-img {
    width: 70%;
    height: 250px;
    margin: 10px auto;
}

.detail-img img {
    width: 100%;
}

/*-------------------start admin profile-------------*/
.link {
    color: #0000ff;
    text-decoration: underline;
}

/*-------------------end admin profile-------------*/

/*-----------------start user crud----------*/
.user-title {
    margin-bottom: 10px;
    padding: 15px;
    background-color: #52B8F2;
    vertical-align: middle;
}

.user-title h2 {
    display: inline-block;
    line-height: 25px;
    font-size: 20px;
}

.user-btn {
    background-color: #595959;
}

.user-btn:hover {
    background-color: #808080;
}

.search-btn {
    background-color: #045e5e;
}

.search-btn:hover {
    background-color: #048a8a;
}

.pagination {
    margin-top: 20px;
}

.pagination .page-item {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #048f8c;
    background-color: #87c5c5;
}

.pagination .active {
    border: 1px solid #6c5ce7;
    background-color: #a29bfe;
}

/*-----------------end user crud----------*/

.center {
    text-align: center;
}

input[type=file]::file-selector-button {
    padding: .2em .4em;
    border: 2px solid #00cec9;
    background-color: #81ecec;
    transition: 1s;
    border-radius: .2em;
}

input[type=file]::file-selector-button:hover {
    border: 2px solid #6c5ce7;
    background-color: #a29bfe;
}

/*------------------start graph---------------*/
#graphCanvas{
    height: 500px;
    width: 85%;
    margin: auto;
    font-size: 5px;
}

.graph-title {
    text-align: center;
}

.graph-title h2 {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 24px;
    border-bottom: 2px solid #52B8F2;
}

/*------------------end graph---------------*/
/* Modal Header */
.modal-header {
    line-height: 20px;
    padding: 10px 16px;
    background-color: #045e5e;
    color: #fff;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal {
    display: none;
    position: fixed;
    top: 20%;
    left: 0;
    z-index: 1;
    width: 40%;
    overflow: auto;
    margin: auto 30%;
    background-color: #9c9a9a;
    border-radius: 10px;
}

/* Modal Content/Box */
.modal-content {
    width: 80%;
    margin: 30px auto;
    padding: 20px;
    /* Could be more or less, depending on screen size */
}

.modal-content .btn {
    margin-top: 20px;
}

/* The Close Button */
.close {
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.card-body p {
    padding: 10px 0px;
    text-align: center;
}

.card-body p span {
    display: inline-block;
    padding-left: 20px;
}

.order-table th {
    padding: 20px;
}

.order-table td {
    padding: 10px;

}

.order-detail {
    padding: 10px 0px;
}

.order-detail label {
    display: inline-block;
    width: 50%;
    padding-right: 20px;
    text-align: right;
}

@media screen and (min-width: 1400px) {
    body {
        font-size: 16px;
    }

    .nav {
        padding: 30px 50px;
    }

    .nav h1 {
        font-size: 26px;
    }

    .menu li {
        padding: 25px 50px;
    }
}

/*ipad*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        font-size: 1.172vw;
    }

    .btn {
        font-size: 1.172vw;
    }

    .nav {
        width: 100vw;
        padding: 2vw 2.930vw;
        border-bottom: 0.098vw solid #000;
    }

    .nav h1 {
        font-size: 2.148vw;
    }

    .card-title {
        font-size: 1.563vw;
    }

    .content {
        padding: 5vw 3.418vw;
    }

    .menu li {
        display: block;
        list-style: none;
        padding: 1.465vw 1.953vw;
    }

    .menu li i {
        width: 15%;
    }

    .menu li span {
        padding-left: 1.953vw;
    }

    .menu a {
        border-bottom-right-radius: 9.766vw;
        border-top-right-radius: 9.766vw;
        border-bottom: 0.098vw solid #696969;
    }

    .btn {
        padding: 0.977vw;
        border-radius: 0.488vw;
    }

    .search-form input {
        width: 14.648vw;
        padding: 0.488vw 0.977vw;
        border: 0.098vw solid #696969;
        border-radius: 0.977vw;
    }

    .header {
        margin-bottom: 2.441vw;
    }

    .card {
        width: 90%;
        margin: auto;
        padding: 1.953vw 4.883vw;
        border-bottom-left-radius: 0.977vw;
        border-bottom-right-radius: 0.977vw;
        border-left: 0.098vw solid #989898;
        border-right: 0.098vw solid #989898;
        border-bottom: 0.098vw solid #989898;
    }

    .card-title {
        width: 90%;
        margin-top: 1.953vw;
        padding: 1.953vw;
        border: 0.098vw solid #989898;
        font-size: 2.148vw;
        border-top-left-radius: 0.977vw;
        border-top-right-radius: 0.977vw;
    }


    .card input[type=text],
    .card input[type=email],
    .card input[type=password],
    .card select,
    .card textarea {
        width: 100%;
        margin-top: 0.488vw;
        padding: 0.781vw;
        border: 0.098vw solid #686868;
        border-radius: 0.488vw;
    }

    .card input[type=radio],
    .card input[type=file] {
        margin-top: 0.488vw;
    }

    .card input[type=radio] {
        margin-right: 0.488vw;
    }

    .card .btn {
        margin-top: 1.953vw;
    }

    .card-footer .btn {
        margin: 1.953vw 2.930vw;
    }

    .input-group {
        margin-top: 1.953vw;
    }

    .list img {
        width: 13.766vw;
        height: 9.766vw;
    }

    .list td,
    .list th {
        padding: 0.977vw;
        border: 0.098vw solid #a6a6a6;
    }

    .list th {
        padding: 1.953vw 0.977vw;
        background-color: #d0eee9;
    }

    .alert {
        margin-bottom: 1.953vw;
        padding: 1.465vw 2.930vw;
        border-radius: 0.488vw;
    }

    .alert span {
        padding: 0.488vw;
    }

    .alert i {
        font-size: 1.953vw;
    }

    .td-col1 {
        padding: 1.465vw;
    }

    .td-col2 {
        padding: 1.465vw;
    }

    .pizza-detail {
        width: 80%;
        margin: 2.441vw auto;
    }

    .pizza-detail td {
        border: 0.098vw solid #969696;
    }

    .pizza-detail tr:nth-child(even) {
        background-color: #e6ebeb;
    }

    .detail-img {
        width: 50%;
        height: 19.531vw;
        margin: 0.977vw auto;
    }

    .detail-img img {
        width: 100%;
    }

    /*-------------------start admin profile-------------*/
    .link {
        color: #0000ff;
        text-decoration: underline;
    }

    /*-------------------end admin profile-------------*/

    /*-----------------start user crud----------*/

    .pagination {
        margin-top: 1.953vw;
    }

    .pagination .page-item {
        padding: 0.781vw 0.977vw;
        border: 0.098vw solid #048f8c;
    }

    .pagination .active {
        border: 0.098vw solid #6c5ce7;
    }

    /*-----------------end user crud----------*/


    input[type=file]::file-selector-button {
        padding: 0.3vw 0.8vw;
        border: 0.195vw solid #00cec9;
        border-radius: 0.3vw;
    }

    input[type=file]::file-selector-button:hover {
        border: 0.195vw solid #6c5ce7;
    }

    /*------------------start graph---------------*/

    .chart-container{
        height: 48.828vw;
        width: 100%;
        margin: auto;
        font-size: 5px;
    }


    .graph-title h2 {
        display: inline-block;
        margin-bottom: 1.953vw;
        font-size: 1.953vw;
        border-bottom: 0.195vw solid #52B8F2;
    }

    /*------------------end graph---------------*/
    /* Modal Header */
    .modal-header {
        line-height: 1.953vw;
        padding: 0.977vw;
    }

    /* Modal Body */
    .modal-body {
        padding: 0.195vw 1.465vw;
    }

    /* Modal Footer */
    .modal-footer {
        padding: 0.195vw 1.465vw;
    }

    .modal {
        border-radius: 10px0.781vw;
    }

    /* Modal Content/Box */
    .modal-content {
        margin: 2.441vw auto;
        padding: 1.465vw;
    }

    .modal-content .btn {
        margin-top: 1.953vw;
    }

    /* The Close Button */
    .close {
        font-size: 1.953vw;
    }

    .card-body p {
        padding: 0.977vw 0px;
        text-align: center;
    }

    .card-body p span {
        display: inline-block;
        padding-left: 1.465vw;
    }

    .order-table th {
        padding: 1.758vw 0;
    }

    .order-table td {
        padding: 0.977vw;

    }

    .order-detail {
        padding: 0.977vw 0px;
    }

    .order-detail label {
        padding-right: 1.465vw;
    }

}

/*sp*/
@media screen and (max-width: 767.9px) {

    body {
        position: relative;
        font-size: 1.563vw;
    }

    .btn {
        font-size: 1.563vw;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .menu-btn {
        display: block;
        position: absolute;
        top: 2.930vw;
        right: 3.125vw;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menu-burger {
        width: 4.5vw;
        height: 0.2930vw;
        margin-top: 1.3vw;
        margin-right: 4.8vw;
        background: #fff;
        transition: all .5s ease-in-out;
        border-radius: 0.195vw;
    }

    .menu-burger::before,
    .menu-burger::after {
        position: absolute;
        width: 4.5vw;
        height: 0.2930vw;
        box-shadow: 0 2px 0.488vw rgba(255, 101, 47, .2);
        background: #fff;
        content: '';
        transition: all .5s ease-in-out;
        border-radius: 0.488vw;
    }

    .menu-burger::before {
        transform: translateY(-1.5vw);
    }

    .menu-burger::after {
        transform: translateY(1.5vw);
    }

    .menu-btn.open .menu-burger {
        box-shadow: none;
        background: transparent;
        transform: translateX(-4.883vw);
    }

    .menu-btn.open .menu-burger::before {
        transform: rotate(45deg) translate(3.418vw, -3.418vw);
    }

    .menu-btn.open .menu-burger::after {
        transform: rotate(-45deg) translate(3.418vw, 3.418vw);
    }

    .aside {
        position: absolute;
        top: 9.5vw;
        right: -100%;
        width: 100%;
        background-color: #010101e7;
        transition: all 0.5s ease-in-out;
    }

    .aside ul li {
        width: 100%;
        font-size: 2.500vw;
    }

    .nav {
        padding: 3.125vw 4.688vw;
        background-color: #87c5c5;
        border-bottom: 0.156vw solid #000;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .nav h1 {
        font-size: 3.125vw;
    }

    .nav h1 a{
        color:#000;
    }


    .content {
        width: 100%;
        padding: 5.469vw;
        min-height: 100vh;
    }

    .menu li {
        padding: 2.344vw;
    }

    .menu li i {
        display: inline-block;
        width: 40%;
        text-align: right;
    }

    .menu li span {
        display: inline-block;
        width: 45%;
        text-align: left;
    }

    .menu a {
        border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom: 0.156vw solid #696969;
    }


    .btn {
        padding: 1.250vw;
        border-radius: 0.469vw;
    }

    .search-form input {
        padding: 0.781vw 1.563vw;
        border: 0.156vw solid #696969;
        border-radius: 1.563vw;
    }

    .header {
        margin-bottom: 3.125vw;
    }

    .card {
        width: 80%;
        padding: 1.563vw 4.688vw;
        border-bottom-left-radius: 1.563vw;
        border-bottom-right-radius: 1.563vw;
        border-left: 0.156vw solid #989898;
        border-right: 0.156vw solid #989898;
        border-bottom: 0.156vw solid #989898;
    }

    .card-title {
        width: 80%;
        margin-top: 0.781vw;
        padding: 2.344vw;
        border: 0.156vw solid #989898;
        background-color: #EAF4F4;
        font-size: 2.344vw;
        border-top-left-radius: 1.563vw;
        border-top-right-radius: 1.563vw;
    }


    .card input[type=text],
    .card input[type=email],
    .card input[type=password],
    .card select,
    select,
    .card textarea {
        width: 100%;
        margin-top: 0.781vw;
        padding: 1.094vw;
        border: 0.156vw solid #686868;
        border-radius: 0.781vw;
    }

    .card input[type=radio],
    .card input[type=file] {
        margin-top: 0.781vw;
    }

    .card input[type=radio] {
        margin-right: 0.781vw;
    }

    .card .btn {
        margin-top: 2.344vw;
    }

    .card-footer .btn {
        margin: 2.344vw 3.906vw;
    }

    .input-group {
        margin-top: 2.344vw;
    }

    .error {
        color: #ff0000;
    }

    .list img {
        width: 20.625vw;
        height: 15.625vw;
    }

    .list .btn {
        display: block;
        margin: 0.781vw;
        padding: 1.094vw;
    }

    .list .td-action {
        width: 3.906vw;
    }

    .list td,
    .list th {
        padding: 1.563vw;
        border: 0.156vw solid #a6a6a6;
        text-align: center;
        vertical-align: middle;
    }

    .list th {
        padding: 3.125vw 1.563vw;
        background-color: #d0eee9;
    }

    .alert {
        margin-bottom: 3.125vw;
        padding: 1.563vw 2.344vw;
        border-radius: 0.5vw;
    }

    .alert span {
        padding: 0.781vw;
    }

    .alert i {
        font-size: 3.125vw;
    }

    .td-col1 {
        padding: 1.563vw;
    }

    .td-col2 {
        padding: 1.563vw;
    }

    .pizza-detail {
        width: 90%;
        margin: 3.125vw auto;
    }

    .pizza-detail td {
        border: 0.156vw solid #969696;
    }

    .detail-img {
        width: 60%;
        height: 31.250vw;
        margin: auto;
        margin-bottom: 2.344vw;
    }

    /*-----------------start user crud----------*/
    .pagination {
        margin-top: 2.344vw;
    }

    .pagination .page-item {
        padding: 0.781vw 1.250vw;
        border: 0.156vw solid #048f8c;
    }

    .pagination .active {
        border: 0.156vw solid #6c5ce7;
    }

    /*-----------------end user crud----------*/

    input[type=file]::file-selector-button {
        border: 0.313vw solid #00cec9;
    }

    input[type=file]::file-selector-button:hover {
        border: 0.313vw solid #6c5ce7;
    }

    /*------------------start graph---------------*/

    .chart-container{
        height: 60.828vw;
        width: 100%;
        margin: auto;
        font-size: 5px;
    }

    .graph-title h2 {
        margin-bottom: 2.344vw;
        font-size: 3.125vw;
        border-bottom: 0.313vw solid #52B8F2;
    }

    /*------------------end graph---------------*/
    /* Modal Header */
    .modal-header {
        line-height: 2.344vw;
        padding: 1.250vw 0px;
    }

    /* Modal Body */
    .modal-body {
        padding: 0.313vw 1.563vw;
    }

    /* Modal Footer */
    .modal-footer {
        padding: 0.313vw 1.563vw;
    }

    .modal {
        border-radius: 0.781vw;
    }

    /* Modal Content/Box */
    .modal-content {
        width: 80%;
        margin: 2.344vw auto;
        padding: 1.563vw;
        /* Could be more or less, depending on screen size */
    }

    .modal-content .btn {
        display: inline-block;
        margin-top: 2.344vw;
    }

    /* The Close Button */
    .close {
        padding-right: 1.563vw;
        font-size: 2.344vw;
    }

    .card-body p {
        padding: 0.781vw 0px;
    }

    .card-body p span {
        padding-left: 1.563vw;
    }

    .order-table th {
        padding: 2.344vw;
    }

    .order-table td {
        padding: 1.250vw;

    }

    .order-detail {
        padding: 1.563vw 0px;
    }

    .order-detail label {
        padding-right: 1.563vw;
    }
}
