@font-face {
    font-family: Roboto-regular;
    src: url("../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-bold;
    src: url("../font/Roboto-Bold.ttf");
}

body {
    line-height: 1;
    background-color: #EAF4F4;
    font-family: Roboto-regular;
    font-size: 14px;
}


.nav {
    display: block;
    line-height: 1;
    padding: 15px 30px;
    background-color: #87c5c5;
    border-bottom: 1px solid #000;
}

a {
    color: #000;
    text-decoration: none;
}

.nav h1 {
    font-size: 24px;
}

.card-title {
    font-size: 18px;
}

.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.aside {
    float: left;
    width: 20%;
    height: 100vh;
}

.content {
    float: right;
    width: 80%;
    padding: 50px;
}

ul li {
    display: block;
    list-style: none;
    padding: 15px 50px;
}

li i {
    padding-right: 30px;
}

a.nav-active {
    background-color: #b3dbdb;
    color: #464646;
}

a.nav-active:hover {
    background-color: #b3dbdb;
    color: #464646;
}

ul a {
    display: block;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 1px solid #696969;
}

ul a:hover {
    background-color: #989898
        /*  */
    ;
    color: #000;
}

.btn {
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.add-btn {
    background-color: #52B8F2;
}

.edit-btn {
    background-color: #006400;
}

.delete-btn {
    background-color: #8B0000;
}

button {
    border: 0;
}

.card {
    width: 80%;
    margin: auto;
    padding: 20px 50px;
    box-shadow: 4px 4px 4px #989898;
    background-color: #EAF4F4;
    border-radius: 10px;
}

.card-title {
    margin: 10px;
    text-align: center;
}


.card input[type=text],
.card select,
.card textarea {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #686868;
    border-radius: 5px;
}

.card input[type=radio],
.card input[type=file] {
    margin-top: 5px;
}

.card input[type=radio] {
    margin-right: 5px;
}

.card .btn {
    margin-top: 20px;
}

.input-group {
    margin-top: 20px;
}

textarea {
    resize: none;
}

.error {
    color: #ff0000;
}