@font-face {
    font-family: Roboto-regular;
    src: url("../../font/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-bold;
    src: url("../../font/Roboto-Bold.ttf");
}

@font-face {
    font-family: Lucky;
    src: url("../../font/LuckiestGuy-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    font-family: Roboto-regular;
    font-size: 18px;
}

.clearfix::before,
.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.clearfix::after {
    clear: both;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

a {
    color: #ffffff;
    text-decoration: none;
}
